receivers:
  otlp:
    protocols:
      http:

exporters:
  logging:
    loglevel: debug
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    labels:
      service_name: service.name
      environment: service.environment
    default_labels_enabled:
      exporter: false
      job: true

processors:
  batch: {}

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, loki]
