server:
  http_listen_port: 9080
positions:
  filename: /tmp/positions.yml
clients:
  - url: http://loki:3100/loki/api/v1/push
scrape_configs:
  - job_name: py-app
    static_configs:
      - targets: [localhost]
        labels:
          job: py-app
          __path__: /var/log/app/*.log
